body {
    font-family: 'Arial', sans-serif;
    background-color: #2c3e50;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #34495e;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 30px;
    font-size: 2.5em;
}

.input-group {
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    background-color: #ecf0f1;
    color: #2c3e50;
    width: 60%;
}

button {
    padding: 15px 25px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
}

#checkButton {
    background-color: #27ae60;
}

#checkButton:hover {
    background-color: #2ecc71;
}

#newNumberButton {
    background-color: #e74c3c;
    margin-top: 20px;
}

#newNumberButton:hover {
    background-color: #c0392b;
}

#resultMessage {
    font-size: 1.3em;
    margin-bottom: 20px;
    min-height: 30px;
}
.timer-container{
    display: flex;
    justify-content: center;
}

.timer {
    font-size: 1.3em;
    color: #f1c40f;
    margin-bottom: 20px;
    font-weight: bold;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.1em;
    margin-bottom: 5px;
}

li:nth-child(odd) {
    background-color: #3f5871;
    padding: 5px;
    border-radius: 3px;
}